@import './base.css';

#app {
  margin: 0 0;
  padding: 0rem;
  font-weight: normal;
  display: grid;
  height: 100vh;
}

.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.black {
  text-decoration: none;
  color: #000000;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: #D5D5D750
  }
}

  body {
    place-items: center;
  }
